.bitBoxSize {
  height: 50px;
  width: 50px;
}

.bitBoxColor1 {
  background: #000088;
}

.bitBoxColor2 {
  background: #0000FF;
}

.bitBoxColor3 {
  background: #008800;
}

.bitBoxColor4 {
  background: #008888;
}

.bitBoxColor5 {
  background: #00FF00;
}

.bitBoxColor6 {
  background: #00FF88;
}

.bitBoxColor7 {
  background: #00FFFF;
}

.bitBoxColor8 {
  background: #880000;
}

.bitBoxColor9 {
  background: #880088;
}